@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.categories {
  background: #ffffff;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.11);
  width: 253px;
  height: 563px;
}
.categories > ul {
  height: 563px;
  overflow-y: auto;
  scrollbar-color: rgb(213, 211, 214) rgb(236, 238, 236);
  scrollbar-width: thin;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #252525;
  letter-spacing: 0.56px;
  font: 400 16px "Lato", sans-serif;
}
.category > a,
p {
  border-bottom: 1.5px solid rgba(143, 143, 143, 0.11);
  padding-left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
p {
  font: 700 16px "Lato", sans-serif;
  color: #8367d8;
  letter-spacing: 0.56px;
  border: none;
  margin: 0;
  margin-bottom: 13px;
}
.category > ul {
  display: none;
}
.category > a.show ~ ul {
  display: block;
}
.subcategory {
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.11);
}
li :hover {
  cursor: pointer;
  color: #8367d8;
}
