@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.filter {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  width: 265px;
  margin-bottom: 20px;
}
p {
  margin: 0;
  font: 700 14px "Lato", sans-serif;
  color: #8367d8;
  letter-spacing: 0.49px;
}
a {
  font: 400 14px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.49px;
  cursor: pointer;
}
a,
p {
  display: flex;
  align-items: center;
  height: 42px;
  padding-left: 20px;
}
a.change {
  color: #8367d8;
}
