<div>
  <app-below-header [title1]="'LOGIN'"></app-below-header>
  <div class="loginMess" [style.color]="color">{{ message }}</div>
  <div id="formLogin">
    <form [formGroup]="loginForm">
      <div>LOGIN</div>
      <app-input
        [title]="'Enter Email'"
        type="email"
        [parentForm]="loginForm"
        [controlName]="'email'"
        [errorMessage]="errorMessageEmail"></app-input>
      <app-input
        [title]="'Password'"
        type="password"
        [parentForm]="loginForm"
        [controlName]="'password'"
        [errorMessage]="errorMessagePass"></app-input>
      <input type="checkbox" /> <label>Remember me</label> <br />
      <input type="button" value="LOGIN" (click)="onSubmit()" /> <br />
      <a href="">Forgot password?</a>
    </form>
  </div>
</div>
