@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
form div {
  background: #fafafa;
  height: 50px;
  width: 600px;
  font: 700 24px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.84px;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 15px;
}
#formLogin {
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 150px;
}
form {
  display: inline-block;
  text-align: left;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}
form input[type="checkbox"] {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  margin-left: 30px;
  margin-bottom: 34px;
}
form label {
  font: 400 16px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  margin-left: 5px;
}
form input[type="button"] {
  margin-left: 30px;
  background: #8367d8;
  border: 3px solid #8367d8;
  box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
  font: 700 16px "Lato", sans-serif;
  color: #ffffff;
  letter-spacing: 0.63px;
  text-align: center;
  width: 536px;
  height: 40px;
  margin-bottom: 54px;
}
form a {
  font: 400 16px "Lato", sans-serif;
  color: #8367d8;
  letter-spacing: 0.63px;
  text-decoration: none;
  margin-left: 240px;
  margin-bottom: 30px;
}
.loginMess {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 200;
}
form input[type="button"]:hover {
  transform: translateY(5%) translateX(1%);
}
form a:hover {
  font-weight: 700;
}
