<div class="list" *ngIf="items.length != 0">
    <div class="product-list-columns">
      <div class="product-list-columns-2">
        <p>Item</p>
        <p>Name</p>
      </div>
      <div class="product-list-columns-4">
      <p class="time">Time Left</p>
      <p class="highest-bid">Highest bid</p>
      <p class="status">Status</p>
    </div>
    </div>
    
    <div class="product-list-rows">
      <div *ngFor="let item of items" class="product-list-row-item">
        <div class="product-list-row-item-info-2">
          <img src="{{ item.images[0].link }}" />
          <div>
          <p>{{ item.title }}</p>
          <p class="id">#{{ item.id }}</p>
        </div>
        </div>
        <div class="product-list-row-item-info-4">
        <div *ngIf="item.active" class="time time-item">{{ item.timeLeft }}</div>
        <div *ngIf="!item.active" class="time time-item">/</div>
        <div class="highest-bid highest-bid-item" *ngIf="item.highestBid != null" [style.color]="'#5b9ed6'">{{ item.highestBid | currency: "USD" }}</div>
        <div class="highest-bid highest-bid-item" *ngIf="item.highestBid == null">/</div>
        <div class="status status-open" *ngIf="item.active">
            <p> OPEN </p>
        </div>
        <div class="status status-closed" *ngIf="!item.active">
            <p> CLOSED </p>
        </div>
        <div>
        <input *ngIf="item.active" type="button" value="BID" class="button-bid" (click)="sendInfoOfProduct(item.title, item.id)">
      </div>

        <fa-icon class="closeIcon" [icon]="faTimes" (click)="sendProductUser(item.id)"></fa-icon>
        
    </div>
      </div>
    </div>
    </div>
    