<div class="sorting">
  <div class="sortingOptions">
    <div class="sortingOption" appShowHide>
    <a>Default Sorting</a>
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </div>
    <ul>
      <li>Default Sorting</li>
      <li>Sort by Popularity</li>
      <li>Sort by Rating</li>
      <li>Sort by Newness</li>
      <li>Sort by Price</li>
    </ul>
  </div>
  <div class="list">
    <div class="grid" (click)="grid()" [ngClass]="{ activeList: activeGrid }">
      <fa-icon [icon]="faTh"></fa-icon>
      <a>Grid</a>
    </div>
    <div class="list" (click)="list()" [ngClass]="{ activeList: activeList }">
      <fa-icon [icon]="faList"></fa-icon>
      <a>List</a>
    </div>
  </div>
</div>
<div [ngClass]="{ productsGrid: activeGrid }">
<div *ngFor="let product of products">
  <app-shop-product
    [image]="product.images[0].link"
    [title]="product.title"
    [description]="product.description"
    [startPrice]="product.startPrice"
    [className]="className"></app-shop-product>
  </div>
</div>
