<div class="sorting">
  <div class="sortingOptions">
    <div class="sortingOption" appShowHide>
      <a>Default Sorting</a>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
    <ul>
      <li>Default Sorting</li>
      <li>Sort by Popularity</li>
      <li>Sort by Rating</li>
      <li>Sort by Newness</li>
      <li>Sort by Price</li>
    </ul>
  </div>
  <div class="list">
    <div class="grid" (click)="grid()" [ngClass]="{ activeList: activeGrid }">
      <fa-icon [icon]="faTh"></fa-icon>
      <a>Grid</a>
    </div>
    <div class="list" (click)="list()" [ngClass]="{ activeList: activeList }">
      <fa-icon [icon]="faList"></fa-icon>
      <a>List</a>
    </div>
  </div>
</div>
<div [ngClass]="{ productsGrid: activeGrid, productsList: activeList }">
  <div *ngFor="let product of products" class="shopProduct">
    <app-shop-product
      [product]="product"
      [className]="className"
    ></app-shop-product>
  </div>
</div>
