@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.list {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  margin-bottom: 100px;
  margin-top: 27px;
}
.product-list-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60px;
  background: #fafafa;
  align-items: center;
  padding-left: 15px;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  padding-right: 39px;
}
p {
  margin: 0;
  padding: 0;
}
.product-list-columns-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product-list-columns-4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product-list-rows {
  display: flex;
  flex-direction: column;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
}
.product-list-row-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 39px;
  align-items: center;
}
.product-list-row-item-info-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product-list-row-item-info-2 > img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
}
.product-list-row-item-info-4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.start-price,
.highest-bid,
.number-bids,
.time,
countdown {
  text-align: center;
  margin-top: 15px;
}
.start-price,
.highest-bid,
.number-bids,
.time {
  margin-top: 15px;
}
.view {
  background: #ffffff;
  border: 3px solid #e3e3e3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
  font: 700 16px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.56px;
  height: 49px;
}
.view:hover {
  background: #c3b0ff;
  color: #ffffff;
}
.id {
  color: #8367d8;
}
.color-highest-bid {
  color: #5b9ed6;
}
.highestValue {
  color: #6cc047;
}
countdown,
.timeLeft,
.timeExpired {
  display: none;
}
.showCounter,
.showTimeLeft,
.showTimeExpired,
.hideLabel {
  display: block;
}
