@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.container {
  margin-bottom: 6.25em;
  margin-left: 10.625em;
  margin-right: 10.625em;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  font: 400 1.5em "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.06125em;
  border-bottom: 0.18em solid #ececec;
  height: 2.125em;
  margin-bottom: 0.875em;
}
app-product {
  /*flex: 0 1 21%;*/
   width: 25%;
  box-sizing: border-box;

}

