@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.container {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  padding: 0;
  margin-bottom: 350px;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #f0f0f0;
  height: 60px;
}
.infoDateBid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
 .biders .dateBid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.biders .user {
  display: flex;
  align-items: center;
}
.info > p,
.info .infoDateBid > p {
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  margin: 0;
}
.info > p {
  margin-left: 45px;
}
.biders .user > p {
  margin-left: 30px;
}
.biders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 60px;
  margin-top: 30px;
}
.biders .user > p, .biders .dateBid > p, .biders .user > img  {
  margin-bottom: 0;
}
.biders .user .img > img {
  border-radius: 50%;
  height: 60px;
  width: 100%;
}
.biders .user .img {
  height: 60px;
  width: 60px;
  margin-left: 35px;
}
.green {
  color: #6CC047;
}
.biders .dateBid > p ~ p, .biders .user > p {
  font-weight: 700;
}
