<div class="container">
    <a (click)="clickLink($event)" [ngClass]="{'activeLink': activeLinkNewArrivals}">New Arrivals</a>
    <a (click)="clickLink($event)"[ngClass]="{'activeLink': activeLinkLastChance}">Last Chance</a>
</div>
<div>
<app-set-products [products]="products" [className]="className"></app-set-products>
<div class="container">
<input type="button" (click)="onClick($event)" value="Load more..." class="button" [ngClass]="{'noMoreItems': hide}">
<div class="messProductsNull">{{messProductsNull}}</div>
</div>
</div>

