<app-breadcrumbs></app-breadcrumbs>
<div *ngIf="items != undefined" class="container">
<app-tabs></app-tabs>
<app-my-account-watchlist-list 
[items]="items"
(messageEvent)="recieveMessageOnDeleteItemFromWatchlist($event)">
</app-my-account-watchlist-list>
<div class="load-button">
<input [ngClass]="{'hide' : hide}" type="button" value="LOAD MORE" class="load" (click)="loadMore()">
</div>
</div>

<div class="container" *ngIf="items != undefined && items.length == 0">
<div class="message">
     No products yet!
</div>
</div>

