@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.required,
.optional {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  height: 722px;
  margin-top: 27px;
}
.optional {
  height: 650px;
  margin-bottom: 422px;
}
.required p,
.optional p {
  margin: 0;
  padding: 0;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  margin-bottom: 10px;
}
.required input,
.optional input {
  margin-bottom: 49px;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  padding-left: 20px;
}
.optional .address-title {
  font-size: 28px;
  margin-top: 39px;
  margin-bottom: 19px;
}
.profile-info {
  display: flex;
  justify-content: space-around;
  width: 975px;
  margin-top: 36px;
}
.address-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.required .title,
.optional .title {
  background: #fafafa;
  font: 700 20px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.7px;
  padding-left: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.required .profile-img img {
  height: 246px;
  width: 198px;
}
.profile-info-name,
.profile-info-gender,
.profile-info-birth-date-month,
.profile-info-birth-date-day,
.profile-info-birth-date-year,
.profile-info-phone-number,
.profile-info-email,
.address-info-street,
.address-info-city,
.address-info-zip,
.address-info-state,
.address-info-country {
  height: 46px;
}
.profile-info-name,
.profile-info-phone-number,
.profile-info-email,
.address-info-street,
.address-info-state,
.address-info-country {
  width: 600px;
}
.profile-info-gender,
.address-info-city,
.address-info-zip {
  width: 290px;
}
.profile-info-birth-date-month,
.profile-info-birth-date-year {
  width: 140px;
}
.profile-info-birth-date-day {
  width: 100px;
}
.profile-info-birth-date-month,
.profile-info-birth-date-year,
.profile-info-birth-date-day {
  margin-right: 20px;
}
.address-info-city-zip {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
