@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.required,
.optional,
.card {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  height: 722px;
  margin-top: 27px;
}
.optional {
  height: 650px;
  margin-bottom: 100px;
}
.required p,
.optional p {
  margin: 0;
  padding: 0;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  margin-bottom: 10px;
}
.required input,
.optional input,
.card input {
  margin-bottom: 49px;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  padding-left: 20px;
}
.optional .address-title {
  font-size: 28px;
  margin-top: 39px;
  margin-bottom: 19px;
}
.profile-info {
  display: flex;
  justify-content: space-around;
  width: 975px;
  margin-top: 36px;
}
.address-info,
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.required .title,
.optional .title,
.card .title {
  background: #fafafa;
  font: 700 20px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.7px;
  padding-left: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.required .profile-img {
  height: 246px;
  width: 198px;
  object-fit: cover;
}
.profile-info-name,
.profile-info-gender,
.profile-info-birth-date-month,
.profile-info-birth-date-day,
.profile-info-birth-date-year,
.profile-info-phone-number,
.profile-info-email,
.address-info-street,
.address-info-city,
.address-info-zip,
.address-info-state,
.address-info-country {
  height: 46px;
}
.profile-info-name,
.profile-info-phone-number,
.profile-info-email,
.address-info-street,
.address-info-state,
.address-info-country {
  width: 600px;
}
.profile-info-gender,
.address-info-city,
.address-info-zip {
  width: 290px;
}
.profile-info-birth-date-month,
.profile-info-birth-date-year {
  width: 140px;
}
.profile-info-birth-date-day {
  width: 100px;
}
.profile-info-birth-date-month,
.profile-info-birth-date-year,
.profile-info-birth-date-day {
  margin-right: 20px;
}
.address-info-city-zip {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.cc-img {
  display: flex;
  justify-content: space-between;
  width: 195px;
  margin-bottom: 39px;
}
.cc-img > img {
  height: 25px;
  width: 40px;
}
.card-info-years,
.card-info-months {
  display: none;
}
.card-info-year.show ~ .card-info-years,
.card-info-month.show ~ .card-info-months {
  display: block;
}
.card-info-expiration-cvc {
  display: flex;
  justify-content: space-between;
}
.card-info-expiration {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.card-info-name-number {
  display: flex;
  justify-content: space-between;
  width: 623px;
  margin-bottom: 40px;
}
.card-info-accepted-cards-p,
.card-info-p,
.card-info-name-p,
.card-info-number-p,
.card-info-expiration-p,
.card-info-year-p,
.card-info-month-p,
.card-info-cvc-p,
.card-info-number-expiration-cvc {
  font: 400 16px "Lato", sans-serif;
  color: #9b9b9b;
  letter-spacing: 0.56px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.card-info-name-p,
.card-info-number-p,
.card-info-expiration-p,
.card-info-year-p,
.card-info-month-p,
.card-info-cvc-p,
.card-info-number-expiration-cvc {
  color: #252525;
}
.card-info-year-p,
.card-info-month-p {
  letter-spacing: 0.63px;
}
.card-info-p {
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  margin-top: 40px;
}
.card input {
  height: 46px;
  width: 300px;
}
.card-info-year,
.card-info-month {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  height: 46px;
  width: 139px;
  position: relative;
  cursor: pointer;
}
.card-info-year > fa-icon,
.card-info-month > fa-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-info-year > p,
.card-info-month > p {
  margin-top: 10px;
  margin-left: 5px;
}
.card-info-years,
.card-info-months {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  width: 139px;
}
.card-info-years > p,
.card-info-months > p {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.card-info-years > p:hover,
.card-info-months > p:hover {
  cursor: pointer;
  background-color: #8367d8;
  color: #fafafa;
}
.button {
  margin-bottom: 422px;
  position: relative;
  width: 243px;
  cursor: pointer;
  margin-left: 870px;
}
.button > input {
  height: 46px;
  width: 243px;
  background: #ffffff;
  border: 3px solid #8367d8;
  box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
  font: 700 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
}
.button > fa-icon {
  position: absolute;
  top: 8px;
  right: 25px;
  font-size: 20px;
}
.button:hover {
  transform: translateX(1%) translateY(5%);
}
.card-info-number-expiration-cvc {
  display: flex;
  justify-content: space-between;
  width: 635px;
}
.card-info-number-expiration-cvc > div {
  display: flex;
  justify-content: space-between;
  width: 152px;
}
#card-element {
  width: 615px;
}
.card-info-name-number > div > input.emptyInput,
.card-info-year.emptyInput,
.card-info-month.emptyInput,
.card-info-cvc-p ~ input.emptyInput {
  border: 1px solid #ff6d6d;
  background: #ffd8d8;
}

