@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.header {
  background: #fafafa;
}
.container {
  height: 3.125em;
  display: flex;
  justify-content: space-between;
  margin-top: 0.625em;
}
.container :nth-child(1) {
  font: 400 1.0625em "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.039375em;
  margin-top: 0.8125em;
  cursor: pointer;
}
.container div {
  margin-top: 5px;
  font: 400 0.9375em "Lato", sans-serif;
  color: #252525;
}
.container div :nth-child(1) {
  opacity: 0.5;
  font-size: 1em;
  letter-spacing: 0.035em;
  cursor: pointer;
}
.container div :nth-child(2) {
  font-size: 1em;
  letter-spacing: 0.035em;
  margin-left: 1.25em;
  cursor: pointer;
}
.container > label:hover, .container > div > label:hover {
  color: #8367d8;
}

