<div class="filters">
  <app-filter-categories
    [allCategories]="allCategories"
    (messageEvent)="receiveMessageFromCategories($event)"></app-filter-categories>
  <app-filter-price
    [title]="'PRICE'"
    [filter]="filterPrice"
    [lowerBound]="lowerBound"
    [upperBound]="upperBound"
    [priceProduct]="priceProduct"></app-filter-price>
  <app-filter
    [title]="'COLOR'"
    [filter]="filterColor"
    (messageEvent)="receiveMessageFromFilterColor($event)"></app-filter>
  <app-filter
    [title]="'SIZE'"
    [filter]="filterSize"
    (messageEvent)="receiveMessageFromFilterSize($event)"></app-filter>
</div>
