<div id="footer">
    <div id="about">
    <label>AUCTION</label>
    <a href="">About us</a>
    <a href="">Terms and Conditions</a>
    <a href="">Privacy and Policy</a>
    </div>

    <div id="contact">
        <label>GET IN TOUCH</label>
        <label>Call Us at  +123 797-657-2535</label>
        <label>support@auction.com</label>  
        <div id="icons">
                <fa-icon [icon]="faFacebook"></fa-icon>
                <fa-icon [icon]="faInstagram"></fa-icon>
                <fa-icon [icon]="faTwitter"></fa-icon>
                <fa-icon [icon]="faGooglePlus"></fa-icon>
        </div>
    </div>

    <div id="email">
        <label id="news">NEWSLETTER</label>
        <label>Enter your email address and get notified
            about new products. We hate spam!</label>
        <div id="enterEmail">
        <input type="email" placeholder="Your Email address">
        <div id="button">
        <input type="button" value="GO"> 
            <div id="buttonIcon">
            <span></span>
            <span></span> 
            </div>
        </div>
    </div>
    </div>





</div>
