<div class="messStatusAboutBids" *ngIf="messStatusAboutBids != null">{{messStatusAboutBids}}</div>
<div class="usersProduct" *ngIf="usersProduct != null">{{usersProduct}}</div>
<div class="messError" *ngIf="errorMess != null" >{{errorMess}}</div>
<div class="container">
    
<div class="allImages"> 
    <div class="bigImage">
    <img src="{{clickedImage}}">
</div>
<div class="smallImages" > 
    <div *ngFor="let image of productInfo.images; let i = index" >
    <img src="{{image.link}}" (click)="clickOnImage($event)">
</div>
</div>
</div>

<div class="aboutProduct">
<p class="title">{{productInfo.title}}</p>
<p class="price">Start from -{{productInfo.startPrice | currency:'USD'}}</p>

<div *ngIf="!userIsSeller" class="bid">
<div class="enterBid">
<input type="number" [ngClass]="{'disabledInput': !userIsLoged || userIsSeller}" (change)="saveValue($event.target.value)" #reference>
<p class="enter"><label *ngIf="highestBid != null">Enter {{highestBid.value + 1 | currency:'USD'}} or more</label>
<label *ngIf="highestBid == null">Enter {{productInfo.startPrice | currency:'USD'}} or more</label> <br>
</p>
</div>

<div class="buttonPlaceBid">
<input type="button" value="PLACE BID" [ngClass]="{'disabledButton': !userIsLoged  || userIsSeller}" (click)="reference.value=''" (click)="saveNewBid()">
<fa-icon [icon]="faChevronRight"></fa-icon>
</div>
</div>
<p class="infoBid">Highest bid: <label class="high" *ngIf="highestBid != null">{{highestBid.value | currency:'USD'}}</label>
<label *ngIf="highestBid == null">There are not bids yet!</label></p>
<p class="infoBid">No bids: <label *ngIf="numberOfBids != null">{{numberOfBids}}</label> 
<label *ngIf="numberOfBids == null">0</label>
</p>
<p class="infoBid time">Time left: <label *ngIf = "timeLeft != undefined">{{timeLeft}}</label></p>

<div class="watchlist">
<input type="button" value="Watchlist">
<fa-icon [icon]="faHeart"></fa-icon>
</div>

<div class="details">
<p class="titleOfDetails">Details</p>
<p>{{productInfo.description}}</p>
</div>
</div>
</div>

