@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.payment {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}
.payment-card-info,
.card-info {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.card-info {
  margin-top: 0;
}
.title {
  background: #fafafa;
  font: 700 20px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.7px;
  padding-left: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}
.payment-city-country {
  display: flex;
  justify-content: space-between;
}
input {
  margin-bottom: 49px;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  padding-left: 20px;
  width: 100%;
  height: 46px;
}
p {
  margin: 0;
  padding: 0;
  font: 400 18px "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.63px;
  margin-bottom: 10px;
}
.brand {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cc-img > img {
  height: 35px;
  width: 50px;
}
.card-info-expiration-cvc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.card-info-expiration {
  display: flex;
  justify-content: space-between;
  width: 390px;
}
.card-info-name-number {
  display: flex;
  justify-content: space-between;
}
.card-info-accepted-cards-p,
.card-info-p,
.card-info-name-p,
.card-info-number-p,
.card-info-expiration-p,
.card-info-year-p,
.card-info-month-p,
.card-info-cvc-p,
.card-info-number-expiration-cvc {
  font: 400 16px "Lato", sans-serif;
  color: #9b9b9b;
  letter-spacing: 0.56px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.card-info-name-p,
.card-info-number-p,
.card-info-expiration-p,
.card-info-year-p,
.card-info-month-p,
.card-info-cvc-p,
.card-info-number-expiration-cvc {
  color: #252525;
}
.card-info-p {
  font: 400 18px "Lato", sans-serif;
  color: #252525;
}
.card-info-number-expiration-cvc {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.card-info-number-expiration-cvc > div {
  display: flex;
  justify-content: space-between;
  width: 152px;
}
.payment-city-country > div > input,
.card-info-name-input,
.card-info-number-input,
.cvc-input {
  width: 390px;
}
.card-info-accepted-cards-p,
.cc-img {
  margin: 0;
  padding: 0;
}
.cc-img {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.year-input,
.month-input {
  width: 180px;
}
.pay {
  font: 700 16px "Lato", sans-serif;
  letter-spacing: 0.56px;
  width: 200px;
  background-color: #8367d8;
  color: #ffffff;
  border: none;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  margin-right: 30px;
}
.pay:hover {
  transform: translateX(1%) translateY(5%);
}
.button {
  display: flex;
  justify-content: flex-end;
}
.message {
  color: rgb(171, 78, 78);
  background: rgb(246, 229, 229);
  padding-left: 75px;
  display: none;
  align-items: center;
  height: 60px;
  font: 700 18px "Lato", sans-serif;
  letter-spacing: 0.63px;
}
.showMessageError {
  display: flex;
}
.cover {
  width: 100%;
  height: 525%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}
.pop-up-message {
  position: absolute;
  z-index: 2;
  background-color: #fcfcfc;
  width: 50%;
  text-align: center;
  display: none;
}
img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 5px;
}
.seller-name {
  margin-bottom: 50px;
  font: 400 16px "Lato", sans-serif;
}
.star-rating {
  margin-bottom: 40px;
}
.rate-seller-p {
  font: 700 18px "Lato", sans-serif;
}
.pop-up-message-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.pop-up-message-buttons > .skip-button,
.pop-up-message-buttons > .done-button {
  width: 30%;
  padding: 0;
  font: 700 16px "Lato", sans-serif;
  letter-spacing: 0.56px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
}
.pop-up-message-buttons > .done-button {
  background-color: #8367d8;
  color: #ffffff;
  border: none;
}
.pop-up-message-buttons > .skip-button:hover,
.pop-up-message-buttons > .done-button:hover {
  transform: translateX(1%) translateY(5%);
}
.pop-up-message-wrapp {
  display: none;
  justify-content: center;
  margin-top: 50px;
}
.showPopUp {
  display: block;
}
.showMessageWrap {
  display: flex;
}
